<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>FizzBuzz</title>
<script type="text/javascript">
<!--
for(var i = 1; i <= 100; i++){
  document.write(i+"：")
	if( i % 3 == 0){
		document.write("fizz");
	}
	if( i % 5 == 0){
		document.write("buzz")
	}
	document.write('</br>');
}
// -->

</script>
</head>

<body>
</body>
</html>
